* {
  margin: 0;
  padding: 0%;
  font-family: "Cairo", Noto Kufi Arabic, sans-serif !important;
  font-style: normal;
}

body {
  position: relative;
  background-image: url(./boxing_back.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#gameStart {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10000000;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
    to left,
    #d03221,
    20%,
    rgba(21, 22, 110, 0.726),
    #000
  ), url('https://an1.com/uploads/screenshots/4303/punch-boxing-3d-808079.webp');;
}

#strBtn{
position: absolute;top:40%;left: 50%;margin-left: -100px;text-align: center;
  font-weight: bold;
  width: 200px;
  text-align: center;
  background-color:rgba(0,0,0,.5);color:#ccc3c3;cursor:pointer;padding:20px;
  border-radius:999px;font-size:20px;border:1px solid #5f5c5c
}

#gameOver {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background-image: linear-gradient(
    to left,
    #d03221,
    20%,
    rgba(21, 22, 110, 0.726),
    #000
  );

  height: 100%;
  z-index: 1000000;
}


#Usyk-attack {
  position: absolute;
  left: 0px;
  top: 30%;
  rotate: y 180deg;
  cursor: pointer;
}



#Crawford-attack {
  position: absolute;
  right: 0px;
  top: 30%;
  cursor: pointer;
}

#Usyk-attack:hover , #Crawford-attack:hover {
  scale : 1.2
}

#HealthProgress {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  padding-top: 30px;
}

#UsykImg {
  width: 70px;
  height: 70px;
  background: rgba(48, 21, 167, 0.555);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(227, 223, 236, 0.3);
  border-radius: 50%;
  padding: 10px;
  margin-left: 100px;
  margin-top: 20px;

}

#CrawfordImg {
  width: 70px;
  height: 70px;
  background: rgba(112, 11, 4, 0.555);
  box-shadow: 0 4px 30px rgba(194, 4, 4, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(227, 223, 236, 0.3);
  border-radius: 50%;
  padding: 10px;
  margin-right: 100px;
  margin-top: 20px;
}

#Usyk-progress {
  width: 300px;
  height: 30px;
  background: rgba(111, 118, 139, 0.205);
  backdrop-filter: blur(5px);
  margin-top: 60px;
  border: 1px solid #ffffff42;
  border-radius: 100px 0px 100px 0px ;
  position: relative;
}

#Usyk-span {
  background: rgba(5, 41, 160, 0.582);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px 0px 100px 0px ;
  width: 300px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#Crawford-progress {
  position: relative;
  width: 300px;
  height: 30px;
  background: rgba(111, 118, 139, 0.205);
  backdrop-filter: blur(5px);
  margin-top: 60px;
  border: 1px solid #ffffff42;
  border-radius: 0px 100px 0px 100px ;
}

#Crawford-span {
  background: rgba(160, 5, 5, 0.582);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px 100px 0px 100px ;
  width: 300px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
}
